.DS_Store
*.xml
*.iml
*.pyc
*.jpg
*.0
data/real_data/potential_pic_data/test_potential.pt
data/real_data/rays_pic_data/training_rays.pt
data/real_data/rays_pic_data/test_rays.pt
data/real_data/potential_pic_data/training_potential.pt
*.0
*.0
models/
data/subsets/MNIST/training.pt
data/subsets/MNIST/test.pt
data/subsets/Fashion_MNIST/training.pt
data/subsets/Fashion_MNIST/test.pt
data/subsets/encoded_mapped/training.pt
data/subsets/encoded_mapped/test.pt
data/DATA21.2.18/training_rays.pt
data/DATA21.2.18/training_potential.pt
data/DATA21.2.18/test_rays.pt
data/DATA21.2.18/test_potential.pt
